{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock title %}

{% block body %}

<!--info cards-->

<main>
    <div class="container-fluid mt-3 mx-0">

        <div class="page-header">
            <h3 class="large-text">Delivery & Payment</h3>
        </div>



        <!--<div class="row">



        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header display-6">Total Orders</div>
                <div class="card-body">
                    <h3 class="card-title text-center display-1"><strong>10</strong></h3>
                </div>
            </div>
            
        </div>



        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header display-6">Pending Orders</div>
                <div class="card-body">
                    <h3 class="card-title text-center display-1"><strong>10</strong></h3>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-12">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header display-6">Total Amount</div>
                <div class="card-body">
                    <h3 class="card-title text-center display-1"><strong>10</strong></h3>
                </div>
            </div>
        </div>
        </div>-->


        <!--Main content-->


        <div class="row mt-3">

            <div class="col-md-9 col-sm-12">
                <div class="card sub-card mb-3 p-16">

                    <!-- empty-cart -->
                    <!--
                    <div class="empty-cart">
                        <div class="image-section mx-2">
                            <img src="/static/customer/images/empty-cart.png" alt="Empty">
                        </div>
                        
                        <div class="text-section text-center">
                            <h3 class="my-4">Your Shopping Cart is Empty</h3>
                            <a href="#" class="btn btn-info">Start Shopping
                                <span class="fa fa-arrow-alt-circle-right"></span>
                            </a>
                        </div>
                    </div>-->


                    <div class="jumbotron">
                        <h1 class="display-6 p-2 cart-title">Delivery Details</h1>

                        <!-- bill-->
                        <div class="billing">
                            <form action="" method="post">
                                <div class="section-1 row mb-3">
                                    <div class="col-md-6">
                                        <div class="bill-box">
                                            <label for="fname">
                                                <span class="fa fa-user-circle"></span>
                                                First Name
                                            </label>
                                            <input type="text" name="fname" id="fname">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bill-box">
                                            <label for="lname">
                                                <span class="fa fa-user-circle"></span>
                                                Last Name
                                            </label>
                                            <input type="text" name="lname" id="lname">
                                        </div>
                                    </div>
                                </div>
                                <div class="section-3 row mb-3">
                                    <div class="col-md-6">
                                        <div class="bill-box">
                                            <label for="email">
                                                <span class="fa fa-envelope"></span>
                                                Email (Optional)
                                            </label>
                                            <input type="email" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bill-box">
                                            <label for="phone">
                                                <span class="fa fa-phone-square"></span>
                                                Phone
                                            </label>
                                            <input type="text" name="phone" id="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="section-2 row mb-3">
                                    <div class="col-sm-12">
                                        <div class="bill-box">
                                            <label for="address">
                                                <span class="fa fa-address-card"></span>
                                                Address
                                            </label>
                                            <input type="text" name="address" id="address">
                                        </div>
                                    </div>
                                </div>
                                <div class="section-4 row mb-3">
                                    <div class="col-md-4">
                                        <div class="bill-box">
                                            <label for="state">
                                                <span class="fa fa-map-marker-alt"></span>
                                                State
                                            </label>
                                            <select id="country" name="country">
                                                <option value="none">-----</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bill-box">
                                            <label for="city">
                                                <span class="fa fa-location-arrow"></span>
                                                City
                                            </label>
                                            <input type="text" name="city" id="city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="bill-box">
                                            <label for="pin">
                                                <span class="fa fa-id-badge"></span>
                                                Pincode
                                            </label>
                                            <input type="text" name="pin" id="pin">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="delivery-date my-3">Estimated Delivery : <span class="date">25 Oct 2021 - 29 Oct 2021</span></p>
                        </div>
                    </div>
                    <!--
                    <div class="card-bottom">
                        <a class="btn btn-outline-success btn-sm new-item" href=""><i class="fa fa-plus"></i> Continue
                            Shopping</a>
                    </div>-->
                </div>
            </div> <!-- / col-md-9 -->

            <!-- Order Summary-->

            <div class="col-md-3">
                <div class="card card-body side-card summary-card">
                    <div class="side-card-body">
                        <h3 class="side-card-top mb-0">Cart <span class="fa fa-shopping-cart my-1"></span></h3>
                        <p class="forgot i-text">For purchases on 29.10.2021 :</p>
                        <table class="table table-hover summary summary-menu">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6 class="pull-left">Subtotal</h6>
                                    </td>
                                    <td><span class="fa fa-rupee-sign"></span> 50.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="pull-left">GST</h6>
                                    </td>
                                    <td><span class="fa fa-rupee-sign"></span> 30.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="pull-left">Delivery Charges</h6>
                                    </td>
                                    <td>
                                        <h6 class="my-0 delivery">Free</h6>
                                        <!--<span class="fa fa-rupee-sign"></span> 
                                        0.00-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="pull-left">Discount</h6>
                                    </td>
                                    <td><span class="fa fa-rupee-sign"></span> 10.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="side-card-bottom">
                            <table class="table summary">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="pull-left">Total Amount</h6>
                                        </td>
                                        <td class="pull-right text-seagreen"><span class="fa fa-rupee-sign"></span> 70.00
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-primary btn-payment" href="#" data-bs-toggle="modal"
                                data-bs-target="#checkoutModal">Place Order <i class="fa fa-angle-right"></i></a>
                        </div>

                        <!--
                        <div class="side-card-logo">
                            <img src="/static/customer/images/empty-cart.png" width="100%" height="100%" alt="Empty">
                        </div>
                    -->
                        <!--<p class="forgot i-text">** Updated last month</p>-->
                        <!--</div>
                </div>
            </div>-->

                        <!-- / Order Summary-->

                    </div> <!-- / row mt-3 -->


                </div> <!-- / main container -->

</main>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->


<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
{% endblock body %}